# Visual Studio Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/
 
# Visual Studio 2015/2017/2019/2022 cache and settings
.vs/
*.user
*.userosscache
*.sln.docstates
 
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.htm
 
# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
 
# Log files
*.log
 
# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini