<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="SportsDataApplication.TMMM.Properties.Settings.Sign_InConnectionString"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;Sign In&quot;;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="SportsDataApplication.TMMM.Properties.Settings.Sign_InConnectionString1"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\Sign In.mdf&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="SportsDataApplication.TMMM.Properties.Settings.SportsProjectDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SportsProjectDB.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="SportsDataApplication.TMMM.Properties.Settings.Group_Project_1_Sports_DatabaseConnectionString"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Group Project 1 Sports Database.accdb&quot;"
   providerName="System.Data.OleDb" />
  <add name="SportsDataApplication.TMMM.Properties.Settings.NBA_NFL_Match_Results_DataConnectionString"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\NBA_NFL Match Results Data.accdb&quot;"
   providerName="System.Data.OleDb" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>