<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="SportsDataApplication.TMMM.Properties.Settings.Sign_InConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;Sign In&quot;;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
		<add name="SportsDataApplication.TMMM.Properties.Settings.Sign_InConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\Sign In.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />

		<add name="SportsDataApplication.TMMM.Properties.Settings.SportsProjectDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SportsProjectDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>